@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
  --brand-3: #3466ff;
  --brand-2: #5079f5;
  --brand-1: #f3f6ff;
  
  --blue-3: #3466ff;
  --blue-2: #5079f5;
  --blue-1: #f3f6ff;

  --green-3: #57bd97;
  --green-2: #7cbda4;
  --green-1: #f2f8f6;

  --red-3: #d14443;
  --red-2: #de7979;
  --red-1: #fcf3f4;

  --black: #13161a;
  --font: Fira Sans, arial, sans-serif;
  --border-radius: 0;
}

.App {
  max-width: 680px;
  margin: 0 auto;
  padding: 1rem;
  font-family: var(--font);
}

.App.hhc {
  --font: "Montserrat", sans-serif;
  --black: #000000;
  --brand-3: #F04600;
  --brand-2: #F04600;
  --brand-1: #f38b5f;
}

.App.rmv {
  --font: "Raleway", sans-serif;
  --black: #0D0D0D;
  --brand-3: #072556;
  --brand-2: #0054A5;
  --brand-1: #5aa3e7;
  --border-radius: 5px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  color: var(--black);
  font-family: inherit;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--black);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.385rem;
}

ul {
  margin-left: -20px;
}

select {
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

label {
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 700;
  display: block;
  margin-bottom: .6875rem;
}

.form-group {
  margin-bottom: 1.875rem;
  transition: opacity 0.55s;
  opacity: 1;
}

.hide {
  margin-bottom: 0;
  opacity: 0;
  height: 0;
  pointer-events: none;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.975em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  border-radius: var(--border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* reactSelect */
.form-group .reactSelect__control {
  border-radius: var(--border-radius);
  font-weight: 600;
  box-shadow: none;
}

.form-group .reactSelect__menu {
  margin: 0.125rem auto;
}

.form-group .reactSelect__option {
  font-weight: 600;
  cursor: pointer;
}

.form-group .reactSelect__option--is-selected {
  background-color: var(--brand-3);
}

.form-group .reactSelect__option--is-focused {
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--brand-2);
}

.form-group .reactSelect__group {
  padding: 0;
}

.form-group .reactSelect__menu-portal {
  border: 1px solid darkblue;
}

/* btn */
.btn {
  display: inline-block;
  font-weight: 800;
  color: #495057;
  background-color: #ececec;
  border-color: #ececec;
  border-radius: var(--border-radius);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .475rem .875rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .225s ease-in-out,background-color .225s ease-in-out,border-color .225s ease-in-out,box-shadow .225s ease-in-out;
}

label.btn {
  margin-bottom: 0;
}

.btn-check {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  cursor: pointer;
  margin: 0 0 0 0;
}

.btn-check:hover + .btn {
  color:  #fff;
  background-color: var(--brand-2);
}

.form-group .radio-wrapper:first-of-type {
  margin: 0 0.5rem 0.5rem 0;
}

.radio-wrapper {
  position: relative;
  margin: 0 0.5rem 0.5rem 0;
  display: inline-block;
}

.radio-wrapper input:checked + .btn {
  color: #fff;
  background-color: var(--brand-2);
  border-color: var(--brand-2);
}

/* results */
.result-wrapper {
  transition: opacity 0.15s;
  position: relative;
  padding: 1.75rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
}

.result-wrapper span {
  width: 100%;
}

.result-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-wrapper h2 {
  font-weight: 800;
  font-size: 1.875rem;
  margin-top: 0;
  width: 100%;
}

.result-wrapper span .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-wrapper-green {
  color: var(--green-3);
  background-color: var(--green-1);
  border-color: var(--green-2);
}

.result-wrapper-red {
  color: var(--red-3);
  background-color: var(--red-1);
  border-color: var(--red-2);
}

.result-wrapper-blue {
  color: var(--blue-3);
  background-color: var(--blue-1);
  border-color: var(--blue-2);
}

.result-wrapper-green .btn {
  color: #ffffff;
  text-decoration: none;
  background-color: var(--green-3);
  border-color: var(--green-2);
}
.result-wrapper-green .btn:hover {
  background-color: var(--green-2);
}

.result-wrapper-red .btn {
  color: #ffffff;
  text-decoration: none;
  background-color: var(--red-3);
  border-color: var(--red-2);
}
.result-wrapper-red .btn:hover {
  background-color: var(--red-2);
}

.result-wrapper-blue .btn {
  color: #ffffff;
  text-decoration: none;
  background-color: var(--blue-3);
  border-color: var(--blue-2);
}
.result-wrapper-blue .btn:hover {
  background-color: var(--blue-2);
}

.result-wrapper-green h2:before {
  display: inline-flex;
  content: ' ';
  background: url('./check-circle.svg');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  height: 18px;
  width: 5%;
}

.result-wrapper-red h2:before {
  display: inline-flex;
  content: ' ';
  background: url('./x-circle.svg');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  height: 18px;
  width: 5%;
}

.result-wrapper-blue h2:before {
  display: inline-flex;
  content: ' ';
  background: url('./alert-circle.svg');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  height: 18px;
  width: 5%;
}

.result-wrapper-green a {
  font-weight: 700;
  color: var(--green-3);
}

.result-wrapper-blue a {
  font-weight: 700;
  color: var(--blue-3);
}

.result-wrapper-red a {
  font-weight: 700;
  color: var(--red-3);
}

@media only screen and (max-width: 600px) {
  .result-wrapper {
    padding: 1rem;
  }
  .result-wrapper h2:before {
    width: 8%;
  }
}
